body{
    background-color: antiquewhite;
}

.game_title{
    font-size: 4rem;
    color: brown;
    text-shadow: 3px 3px 4px black;
    text-align: center;
}

.game_menu{
    text-align: center;
    margin-top: 3rem;
}

.btn_generate{
    background-color: rgb(73, 143, 234);
    color: white;
    border-radius: 50px;
    padding: .3rem 1rem;
    margin-left: 3rem;
}

.campo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    background-color: rgb(190, 190, 190);
}

.cella{
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

.bkg_click{
    background-color: rgb(47, 216, 222);
}